<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="www.comradesoftware.vip001">

    <!-- 读写sdcard权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES" />-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="www.comradesoftware.vip.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="www.comradesoftware.vip.activities.MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:label="@string/app_name" />
        <activity android:name="www.comradesoftware.vip.activities.BaseActivity" />
        <activity
            android:name="www.comradesoftware.vip.activities.SplashActivity"
            android:theme="@style/AppTheme.Splash_bg"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="www.comradesoftware.vip.activities.SubWebActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
        </activity>

        <!--腾讯移动推送（信鸽）回调-->
        <receiver android:name="www.comradesoftware.vip.receiver.tac.MyTACMessagingReceiver">
            <intent-filter>
                <action android:name="com.tencent.tac.messaging.action.CALLBACK" />
            </intent-filter>
        </receiver>

        <!--//初始化数据-->
        <service
            android:name="www.comradesoftware.vip.service.InitDataService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>